/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.mainpage {
    height: 100vh;
}


@media only screen and (min-width:768px) {
    .messagediv {
        height: 550px;
        margin-top: -3rem;
        width: 500px;
    }
    .copyclipboarddiv {
        top: -93px;
        outline: none;
        width: 500px;
    }
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}